<link type="text/css" rel="stylesheet" href="../../../dist/css/style.min.css" media="screen">
<div class="grid">
    <!--Track Start-->
    <div class="item grid__col-start-1 grid__col-end-13" style="background-color: aqua;">12</div>
    <!--Track End-->
    <div class="item grid__col-start-1 grid__col-end-7">6</div>
    <div class="item grid__col-start-7 grid__col-end-13">6</div>
    <!---->
    <div class="item grid__col-start-1 grid__col-end-5">4</div>
    <div class="item grid__col-start-5 grid__col-end-9">4</div>
    <div class="item grid__col-start-9 grid__col-end-13">4</div>

    <div class="item grid__col-start-1 grid__col-end-4">3</div>
    <div class="item grid__col-start-4 grid__col-end-7">3</div>
    <div class="item grid__col-start-7 grid__col-end-11">3</div>
    <div class="item grid__col-start-11 grid__col-end-13">3</div>

    <div class="item grid__col-2">2</div>
    <div class="item grid__col-2">2</div>
    <div class="item grid__col-2">2</div>
    <div class="item grid__col-2">2</div>
    <div class="item grid__col-2">2</div>
    <div class="item grid__col-2">2</div>

    <div class="item grid__col-start-1 grid__col-end-2">1</div>
    <div class="item grid__col-start-2 grid__col-end-3">1</div>
    <div class="item grid__col-start-3 grid__col-end-4">1</div>
    <div class="item grid__col-start-4 grid__col-end-5">1</div>
    <div class="item grid__col-start-5 grid__col-end-6">1</div>
    <div class="item grid__col-start-6 grid__col-end-7">1</div>
    <div class="item grid__col-start-7 grid__col-end-8">1</div>
    <div class="item grid__col-start-8 grid__col-end-9">1</div>
    <div class="item grid__col-start-9 grid__col-end-10">1</div>
    <div class="item grid__col-start-10 grid__col-end-11">1</div>
    <div class="item grid__col-start-11 grid__col-end-12">1</div>
    <div class="item grid__col-start-12 grid__col-end-13">1</div>

    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>
    <div class="item grid__col-1">1</div>

    <div class="item grid__col-1">1</div>
    <div class="item grid__col-11">11</div>

    <div class="item grid__col-2">2</div>
    <div class="item grid__col-10">10</div>

    <div class="item grid__col-3">3</div>
    <div class="item grid__col-9">9</div>

    <div class="item grid__col-4">4</div>
    <div class="item grid__col-8">8</div>

    <div class="item grid__col-5">5</div>
    <div class="item grid__col-7">7</div>

    <div class="grid__box">
        <div class="item grid__col-6">6</div>
        <div class="item grid__col-6">6</div>
    </div>

    <div class="grid__box--uniform">
        <div class="item grid__col">6</div>
        <div class="item grid__col">6</div>
    </div>

    <div class="grid__box--uniform">
        <div class="item grid__col">3</div>
        <div class="grid__col-6">6</div>
        <div class="item grid__col">3</div>
    </div>


    <div class="item grid__col">6</div>
    <div class="item grid__col">6</div>
</div>