<link type="text/css" rel="stylesheet" href="../../../dist/css/style.min.css" media="screen">

<ul class="toc">
    <li class="toc__item">
        <a href="#description" class="toc__a">Description</a>
        <ul class="toc__sub-toc">
            <li class="toc__item" class="toc__item">
            <a href="#introduction" class="toc__a">Description</a>
            </li>
            <li class="toc__item">
                <a href="#introduction" class="toc__a">Motivation</a>
            </li>
        </ul>
    </li>
    <li class="toc__item">
    <a href="#motivation" class="toc__a">Motivation</a>
        
    </li>
    <li class="toc__item">
        <a href="#steps" class="toc__a">Steps</a>
    </li>
    <li class="toc__item">
    <a href="#related-to" class="toc__a">Related to</a>
    </li>
    <li class="toc__item">
        <a href="#resources" class="toc__a">Resources</a>
    </li>
</ul>