.typography{

    &__heading-one{
        margin-bottom: 1.5rem;
        font-size: 4.5em;
        line-height: 5rem;
    }
    &__heading-two{
        margin-bottom: 1.5rem;
        font-size: 4em;
        line-height: 4.5rem;
    }
    &__heading-three{
        margin-bottom: 1.5rem;
        font-size: 3.5em;
        line-height: 4rem;
    }
    &__heading-four{
        margin-bottom: 1.5rem;
        font-size: 3em;
        line-height: 3.5rem;
    }
    &__heading-five{
        margin-bottom: 1.5rem;
        font-size: 2.5em;
        line-height: 3rem;
    }
    &__heading-six{
        margin-bottom: 1.5rem;
        font-size: 2em;
        line-height: 2.5rem;
    }
    &__paragraph{
        margin-bottom: 1.5rem;
        font-size: 1em;
        line-height: 2rem;
    }

    &__list{
        font-size: 1em;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }
}    
