<link type="text/css" rel="stylesheet" href="../../../dist/css/style.min.css" media="screen">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

<div class="grid toolbar toolbar__box-shadow" style="margin: 13%;">
    <div class="grid__box--uniform">
        <div class="grid__col">
            <div class="toolbar__title">
                <span class="toolbar__list-item-text">
                    Title >
                </span>
            </div>
        </div>
        <div class="toolbar__list grid__col flex flex__justify-end">
            <div class="toolbar__list-item">
                <i class="material-icons">tune</i>
            </div>
            <div class="toolbar__list-item">
                <i class="material-icons">view_module</i>
            </div>
            <div class="toolbar__list-item toolbar__list-item--active">
                <span class="toolbar__list-item-text">something</span> 
                <i class="material-icons">view_list</i>
            </div>
        </div>
        
    </div>
</div>

<div class="card" style="margin: 13%;">
    <div class="card__header">
        <span class="card__header-text">Card Header</span>
    </div>
    <div class="card__body">
        <h5 class="card__title">
            What does it mean clean data output
        </h5>
        <p class="card__text">
            Classic WYSIWYG-editors produce raw HTML-markup with both 
            content data and content appearance. On the contrary, 
            Editor.js outputs JSON object with data of each Block. 
            You can see an example below
        </p>
    </div>
    <div class="card__footer">card footer</div>
</div>

<div class="card" style="margin: 13%;">
    <img class="card__image" src="https://i.picsum.photos/id/866/500/200.jpg" alt="">
    <div class="card__header">
        <span class="card__header-text">Card Header</span>
    </div>
    <div class="card__body">
        <h5 class="card__title">
            What does it mean clean data output
        </h5>
        <p class="card__text">
            Classic WYSIWYG-editors produce raw HTML-markup with both 
            content data and content appearance. On the contrary, 
            Editor.js outputs JSON object with data of each Block. 
            You can see an example below
        </p>
    </div>
    <div class="card__footer">card footer</div>
</div>

<div class="grid">
    <div class="grid__box--uniform grid__gap">
        <div class="item grid__col">
            <div class="card">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body--grid">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>

                     <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
        <div class="item grid__col">
            <div class="card">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
        <div class="item grid__col">
            <div class="card">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
        <div class="item grid__col">
            <div class="card">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="grid__box grid__gap">
        <div class="item grid__col-12">
            <div class="card card__list">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
        <div class="item grid__col-12">
            <div class="card card__list">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
        <div class="item grid__col-12">
            <div class="card card__list">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
        <div class="item grid__col-12">
            <div class="card card__list">
                <div class="card__header">
                    <span class="card__header-text">Card Header</span>
                </div>
                <div class="card__body">
                    <h5 class="card__title">
                        What does it mean clean data output
                    </h5>
                    <p class="card__text">
                        Classic WYSIWYG-editors produce raw HTML-markup with both 
                        content data and content appearance. On the contrary, 
                        Editor.js outputs JSON object with data of each Block. 
                        You can see an example below
                    </p>
                </div>
                <div class="card__footer">card footer</div>
            </div>
        </div>
    </div>
</div>