<link type="text/css" rel="stylesheet" href="../../../dist/css/style.min.css" media="screen">

<header class="grid header">
    <div class="grid__box">
        <div class="item grid__col-6">
            <div class="header__nav-item">
                <a href="">Logo</a>
            </div>
        </div>
        <div class="item grid__col-6">
            <div class="grid__box--uniform">
                <div class="item grid__col">
                    <div class="header__nav-item">About</div>
                </div>
                <div class="item grid__col">
                    <div class="header__nav-item">
                        Other
                    </div>
                </div>
                <div class="item grid__col">
                    <div class="header__nav-item">
                        Topic
                    </div>
                </div>
                <div class="item grid__col">
                    <div class="header__nav-item">
                        Indeed
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>